.encabezado-inferior {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #111;
  color: #fff;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
  border-radius: 0.5rem;
}

.encabezado-inferior h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.encabezado-inferior .subtitulo {
  font-size: 1rem;
  font-style: italic;
  color: #ffcc70;
  margin-top: 0.3rem;
}
